\documentclass[11pt,a4paper,titlepage,oneside,openright]{book}

% Use the UniMelb Dissertation Template
\usepackage{style/uomthesis}

% User defined commands
\input{preamble}

\usepackage{titlesec}
\titleformat{\chapter}
  {\Large\bfseries} % format
  {}                % label
  {0pt}             % sep
  {\huge}           % before-code

% set draft watermark
\draft

\begin{document}

  \begin{mainmatter}

    \mainmatterheadings

    \include{@file}

  \end{mainmatter}

\end{document}
